    
    body{
      color: #212121;
      font-family: sans-serif;
    }
    
    nav a {
        text-decoration: none;
        color: #F5F5F5;
        background-color: #9E9E9E;
        border-radius: 2px;
        margin: 5px;
        padding: 5px;
        display: inline-block;
        
    }
    
      nav a:hover{
        background-color: #727272;  
      }
    
    h2{
      color: #1FCCB2;
    }
