    
    body{
      color: #212121;
      font-family: sans-serif;
      margin: 0;
    }
    
    nav a {
        text-decoration: none;
        color: #F5F5F5;
        background-color: #9E9E9E;
        border-radius: 2px;
        margin: 5px;
        padding: 5px;
        display: inline-block;
        transition: 1s all;
        
    }
    
      nav a:hover{
        background-color: #727272;  
      }
    
    header {
        text-align: center;
    }
      
    header img{
        border-radius: 50%;
    }  
    
    header h1{
        font-family: 'Lobster', cursive;
    }
    
    h2{
      color: #00bcd4;
    }
    
    section{
        text-align: center;
        background-image: url(https://s3.amazonaws.com/StartupStockPhotos/20140808_StartupStockPhotos/103.jpg);
        background-position: 0px 603px;
        height: 300px;
        background-size: cover;
    }

#features{
  background-image: none;
  background-color: #0097a7;
  height: 250px;
}

p {
  color: #FFF;
  background-color:#b2ebf2;
  font-family: Impact, Haettenschweiler, “Arial Narrow Bold”, sans-serif; 
  margin: 15px;
  padding: 20px;
  width: 200px;
  display: inline-block;
  transition: 1s all;
}

p:hover{
    transform: rotate(-7deg);
}
    
    button{
        color: #FFF;
        background-color:#00bcd4;
        border: none;
        border-radius: 3px;
        padding: 5px;
        margin-top: 120px;
    }
    
    
